.toyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .toyCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: rgb(33, 37, 41, 95%);
    border: 2px solid rgb(33, 37, 41, 95%);
    width: 100%;
    height: 420px;

    .toyCardInfoName {
      font-size: 1.2rem;
    }

    .toyCardAnimalModel {
      font-size: 1rem;
    }

    img {
      height: 300px;
    }

    .toyCardInfoHeight {
      font-size: 1rem;
    }

    .toyCardInfoDescription {
      font-size: 1.3rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(241, 136, 136);
    }
  }

  .toyCardMoreDetails {
    background-color: rgb(33, 37, 41, 95%);
    color: white;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
  }
}

// @media screen and (min-width: 750px) {
//   .guitarCard {
//     font-size: 1.3rem;
//     gap: 1rem;

//     .guitarCardInfo {
//       height: 500px;
//       .guitarCardInfoBrand {
//         font-size: 1.3rem;
//       }

//       .guitarCardInfoModel {
//         font-size: 1.1rem;
//       }

//       img {
//         height: 350px;
//       }

//       .guitarCardInfoStyle {
//         font-size: 1.1rem;
//       }

//       .guitarCardInfoPrice {
//         font-size: 1.5rem;
//       }
//     }

//     .guitarCardMoreDetails {
//       border-radius: 0.8rem;
//       padding: 0.3rem 0.8rem;
//     }

//     .guitarCardButtonsAdd {
//       img {
//         width: 50px;
//       }
//     }

//     .guitarCardButtonsRemove {
//       img {
//         width: 40px;
//       }
//     }
//   }
// }
