footer {
  height: 5vh;
  background-color: rgb(66, 64, 64);
  background-color: aquamarine;
  font-weight: bold;
  margin-top: 29rem;
  border-top: 1.4px solid #4c738b;

  h1 {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    font-size: 0.8rem;
    margin-top: 0.7rem;
  }
}
