.home {
  background-color: aqua;
  imgStart {
    background-image: url("../../public/start.png");
    background-repeat: no-repeat;
    background-position: 100rem 150rem;
    background-size: 10 rem;
  }
  h2 {
    background-color: brown;
  }
}
