.header {
  background-color: #d9d9d9;
  opacity: 0.8;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .tittle {
    padding-top: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(54, 52, 52);
    font-size: 50px;
    text-align: end;
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
  }
  .logo {
    margin-top: 0.3rem;
    width: 4.5rem;
    height: 4.5rem;
    flex-wrap: wrap;
    position: relative;

    right: 500px;
  }
}
