.register {
  padding: 1rem 2rem;
  background-color: #6d6875;
  h2 {
    margin-bottom: 2rem;
    color: #ffcdb2;
  }
  p {
    padding-bottom: 3rem;
  }
  form {
    display: grid;
    flex-direction: column;
    gap: 3rem;
    input {
      width: 15rem;
      border-style: none;
      border-bottom: solid;

      background-color: #ede9d5;
    }
    button {
      width: 12rem;
      align-content: center;
      height: fit-content;
      align-self: flex-end;
      background-color: #ffcdb2;
    }
    p {
      color: #292727;
    }
  }
}
