.register {
  padding: 1rem 2rem;
  background-color:darkgreen h2 {
    margin-bottom: 2rem;
    color: brown;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    input {
      width: 15rem;
      border-style: none;
      border-bottom: solid;
      border-color: #ede9d5;
      background-color: #ecd459;
    }
    button {
      width: 12rem;
      align-content: center;
      height: fit-content;
      align-self: center;
    }
    p {
      color: #6b6b6b;
    }
  }
}
