footer {
  height: 5vh;
  background-color: rgb(151, 145, 145);
  font-weight: bold;
  margin-top: 29rem;

  h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin-top: 0.7rem;
  }
}
